{% extends '_layout/base.html.twig' %}

{% block title %}Last 20 Calls{% endblock %}
{% block content %}
    {% if calls.archive|length > 0 %}
        {% for call in calls.archive %}
            <div class="archive" id="archive{{ call.id }}">
                <div class="archive_left" id="archive_left{{ call.id }}">
                    <div class="archive_customer" id="archive_customer{{ call.id }}">
                        <span class="customer_text" id="customer_text{{ call.id }}">{{ call.customer }}</span>
                    </div>
                    <div class="archive_opened" id="archive_opened{{ call.id }}">
                        <span class="opened_text" id="opened_text{{ call.id }}"><strong>Added:</strong> {{ call.opened|date( 'M jS, Y @ g:ia' ) }}</span>
                    </div>
                    <div class="archive_closed" id="archive_closed{{ call.id }}">
                        <span class="closed_text" id="closed_text{{ call.id }}"><strong>Closed:</strong> {{ call.closed|date( 'M jS, Y @ g:ia' ) }} by {{ call.employee }}</span>
                    </div>
                    <div class="archive_info" id="archive_info{{ call.id }}">
                        <span class="info_text" id="info_text{{ call.id }}">{{ call.info }}</span>
                    </div>
                </div>
                <div class="archive_right" id="archive_right{{ call.id }}">
                    {% for note in call.notes %}
                        {% if note %}
                            <div class="archive_note" id="archive{{ call.id }}_note{{ call.id }}">
                                <span class="archive_text" id="archive{{ call.id }}_text{{ call.id }}">{{ note }}</span>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div id="empty">
            <span id="empty_text">No calls...</span>
        </div>
    {% endif %}
{% endblock %}
