<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
        <title>While You Were Out | {% block title %}{% endblock title %}</title>
        <link rel="stylsheet" href="/ui/dist/styles/app.css">
    </head>

    <body>
        <div id="wrapper">
            <div id="title">
                <span id="title_text">While You Were Out | {{ block('title') }}</span>
            </div>
            <div id="navigation">
                <a href="/" id="link_all">View All ({{ calls.all|length }})</a>
                <a href="/genius" id="link_genius">View Genius ({{ calls.genius|length }})</a>
                <a href="/business" id="link_business">View Business ({{ calls.business|length }})</a>
                <a href="/manager" id="link_manager">View Manager ({{ calls.manager|length }})</a>
                <a href="/add" id="link_add">Add a Call</a>
            </div>
            <div id="body">
                {% block content %}{% endblock %}
            </div>
            <div id="links">
                {% if logged_in %}
                    <a href="/logout" id="link_crumbs">Log Out ({{ user_name }})</a>
                {% else %}
                    <a href="/login" id="link_crumbs">Log In</a>
                {% endif %}
                <a href="/archive" id="link_archive">Call Archive</a>
            </div>
            <div id="info">
                <span id="info_text">&copy; 2009 - 2019 by Michael V. Colianna</span>
            </div>
        </div>

        <pre>{{ debug }}</pre>

        <script src="/ui/dist/scripts/app.js"></script>
    </body>
</html>
